  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*addded*/
  }
  button.reset {
    background-color: rgb(128, 161, 48); /* Green */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    width: 20%;
    height: 8%;
    color: black;
    /* position: fixed;
    margin-top: 70%; */
    /* flex-direction: column; addded */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
